@import "tailwindcss";

:root {
  --background: #fff8f0;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-lee: "LeeSeoyun";
}

/* 메인 폰트 */
@font-face {
  font-family: "LeeSeoyun";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 컴포넌트 */
@layer components {
  /* 하단 버튼 공용 css */
  .generalBtn {
    @apply h-[23px] px-2 rounded-[10px] drop-shadow text-white text-sm;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff8f0;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* 지도 애니메이션 설정 */
.panel-initial {
  transform: translateY(100%);
  will-change: transform;
  backface-visibility: hidden;
  transform: translate3d(0, 100%, 0);
}

@keyframes mapUp {
  from {
    transform: translate3d(0, 80%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes mapDown {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 80%, 0);
  }
}

.play-up {
  animation: mapUp 480ms ease-out forwards;
}
.play-down {
  animation: mapDown 480ms ease-in forwards;
}

/* 챗봇 대기 애니메이션 설정 */
@keyframes bounce {
  0%,
  70%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-18px);
  }
}

.dot {
  width: 6px;
  height: 6px;
  background-color: #4b5563; /* gray-700 */
  border-radius: 9999px;
  display: inline-block;
  animation: bounce 1.4s infinite ease-in-out both;
}

.dot1 {
  animation-delay: 0s;
}
.dot2 {
  animation-delay: 0.15s;
}
.dot3 {
  animation-delay: 0.3s;
}
